@import './variables.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-main);
  line-height: 1.5;
}

/* заголовки */
h1, h2, h3 {
  color: var(--color-primary-dark);
}

/* ссылки, если будут */
a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
